.custom-tooltip {
  width: 155px;
  height: 30px;
  border: 1px solid cornflowerblue;
  overflow: hidden;
}

.custom-tooltip p {
  margin: 5px;
  white-space: nowrap;
}

.custom-tooltip p:first-of-type {
  font-weight: bold;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: brown;
  padding-left: 10px;
}

.tracking {
  font-size: 12px;
  color: mediumblue;
  padding-left: 10px;
}

.green svg{
    color: green;
  }
.blue svg{
  color: blue;
}
.brown svg{
  color: brown;
}
.pink svg{
  color: pink;
}
.purple svg{
  color: purple;
}
.yellow svg{
  color: yellow;
}
.orange svg{
  color: orange;
}
